$primary_color: #610094;
$left_scroll_area_color: #302e2e;
$drop_zone_background_color: #141414;
$ask_question_background_color: #141414;
$drop_zone_color: #282828;
$submit_button_color: #610094;
$drop_zone_text_color: #666;