@use '_constants' as * ;

body {
  margin: 0%;
}
.layout {
    display: flex;
    height: 100vh;
    background-color: black;
    border: 0px;
    margin: 0px;
}

.right-section {
flex: 2 1 80%; /* Remaining 2/3 of the width. */
display: flex;
flex-direction: column;
}

.submit {
  margin-top: 1rem;
  display: block;
  width: 100%;
  border: 1px solid $submit_button_color;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: $submit_button_color;
  transition: background-color 0.3s ease;
  color: white;
  font-size: 1rem;
  align-items: center;


  &:hover {
      filter: brightness(65%);
  }

  &:active {
      filter: brightness(80%);
  }
}

.file-name {
  color: white;
  text-align: center;
}