@use '_constants' as *;


/* Top Right Section */
.top-right-section {
    padding: 10rem;
    flex: 0.8; /* Takes 1/4 of the right section. */
    background-color: $drop_zone_background_color;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    h2 {
        margin-bottom: 1rem;
        }

    .dropzone {
    border: 1px solid $primary_color;
    border-radius: 5px;
    padding: 4rem;
    text-align: center;
    background-color: $drop_zone_color;
    cursor: pointer;
    transition: background-color 0.3s ease;

    p {
        margin: 0;
        color: $drop_zone_text_color;
    }
    }
    .upload-message {
        color: white;
        text-align: center;
    }

}